<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HLOG</title>
</head>
<body>


<div menu-name="BLOG_HOME">
  <header id="header" class="header">
    <div style="height:95px; background-color:#394867"></div>
    <div style="background-color:#F1F6F9"> <h3>HJ's Project</h3> </div>
    <div style="height:45px; background-color:#394867"></div><br>
  </header>
</div>

<body class="content">
  <div id="body">
    <div id="whold-body">
      <div id="top-area">
      </div>
      <div id="wrapper">
        <div id="content-area">
          <div id="post-area">
          </div>
        </div>
        <div id="left-area" class="side-width side-width-1">
          <div class="side-body">
            <div id="blog-profile">
              <div class="border">
                <div class="bg-body">
                  <div class="con">
                    <p class="image"></p>
                    <div class="name align">
                      <div class="nick"></div>
                    </div>
                    <div class="more align"></div>
                  </div>
                  <div id="post-admin">
                  </div>
                </div>
              </div>
              </clipPath>
            </div>
            <div class="division-line-x"></div>
            <div id="blog-category" class="widget">
              <img alt="" src="https://blog.kakaocdn.net/dn/pADA2/btrJKuiGdNJ/XqnSLwCE1bW1VZ87sTRwW0/img.jpg" width="230"><br>
              <div class="cm-border">
                <div class="cm-header">
                  <br>
                  <ol>
                    <ul>. /)_/)<br/>
                      { ,,· ·,,}  ~ ♥<br/>
                        /づ~ ♡･ﾟ:*:･★‧₊˚<br/><br/>
                        </ul>
                </div>
                <div class="cm-body">
                  <ul>Post <a href="http://127.0.0.1:8000/posts/list/"> 전체 글 보기 </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>




  <!-- <form class="row gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInput">Name</label>
    <input type="text" class="form-control" id="autoSizingInput" placeholder="Jane Doe">
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
    <div class="input-group">
      <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
    </div>
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInputGroup">Password</label>
    <div class="input-group">
      <input type="text" class="form-control" pw="autoSizingInputGroup" placeholder="Password">
    </div>
  <div class="col-auto">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
      <label class="form-check-label" for="autoSizingCheck">
        Remember me
      </label>
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">log-in</button>
  </div> -->
  </form>
<!-- 
  <br>

  <a href="https://github.com"> Go Github </a><br>

<br/>
  <a href="http://127.0.0.1:8000/posts/create/"> 글쓰기 </a><br>
-->



</body>
</html>