{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{% url 'users:password_reset' %}"> 
        {% csrf_token %}
        {% include "form_errors.html" %}

        <br><h4 class="bord er-bottom py-2">비밀번호 찾기</h4>

        <div class="card my-3">
            <div class="card-body">
                <br>
                <div class="mb-3">
                    <label for="username">사용자 이름</label>
                    <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="email">이메일</label>
                    <input type="text" class="form-control" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}">
                </div>
                <br><br>
                <button type="submit" class="btn btn-primary">이메일 전송</button>            </div>
        </div>


        
    </form>
</div>
{% endblock %}
